<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-center align-items-center">
      <div class="bans text-center">
        <%= link_to 'BLOGITTY', root_path, :class => 'nav-link' %>
      </div>
    </div>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <%= link_to 'Home', root_path, :class => 'nav-link' %>
      <%= link_to 'Users', users_path, :class => 'nav-link' %>
      <%= link_to 'Blogs', blogs_path, :class => 'nav-link' %>
    </nav>
  </div>
</div>
</header>
