a{
  color: #642729;
  a:hover {
    color: #D72E0D !important;
  }
}

body{
  background: url('3.jpg');
  opacity: 0.95;
}

table{
  background: #2e8c88!important;
  td{
    color: white;
  }
}

.container {
  background: white;
  opacity: 0.95;
  ul{
    li{
      font-family: sans-serif;
    }
  }
}
